# Example .env.local file.
# Copy this template to .env.local and fill in the variables

# Public
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:1337"

# Private
REVALIDATE_SECRET="" # (e.g. openssl rand -base64 32)