# Example .env.local file.
# Copy this template to .env.local and fill in the variables

# Site
SITE_URL="http://localhost:3000"

# Sanity
SANITY_URL="http://127.0.0.1:3333"
SANITY_PROJECT_ID=
SANITY_DATASET=
SANITY_API_VERSION=
SANITY_APP_TOKEN=
