# Next.js
.next/
out/
certificates/

# vercel
.vercel

# PWA
**/public/serwist**
**/public/sw**
**/public/worker**
**/public/fallback**
**/public/precache**

# misc
.vscode/

# typescript
*.tsbuildinfo
next-env.d.ts