---
import { Image } from "@/components/image";
import { Markdown } from "@/components/mdx/markdown";
import type { Landing } from "@/lib/validators/landing";
import type { Settings } from "@/lib/validators/settings";
import { isReference } from "@/lib/sanity/utils";

interface Props {
    landing: Landing;
    settings: Settings;
}

const { landing, settings } = Astro.props;
---

<section
    id="intro"
    class="mx-auto flex min-h-[calc(100dvh-4rem)] w-full max-w-5xl items-center p-4"
>
    <div class="transition duration-500 ease-spring motion-safe:md:opacity-0 motion-safe:md:translate-y-20 motion-safe:md:intersect:opacity-100 motion-safe:md:intersect:translate-y-0 intersect-once intersect-quarter -mt-16 text-left">
        {settings.avatar &&
            !isReference(settings.avatar?.asset) && (
                <div class="mx-2 sm:mx-4">
                    <Image
                        src={settings.avatar.asset}
                        alt={settings.avatar.alt ?? "Avatar"}
                        width={128}
                        height={128}
                        className="h-20 w-20 select-none rounded-full shadow-md ring-2 ring-transparent ring-offset-2 ring-offset-background transition-all duration-500 will-change-transform hover:scale-105 hover:ring-ring/20 sm:h-24 sm:w-24"
                    />
                </div>
            )}
        <h1 class="mt-6 flex items-end text-balance font-extrabold text-4xl tracking-tight lg:text-5xl">
            {landing.logline}
        </h1>
        {landing.intro && (
            <div class="mt-8">
                <Markdown
                    source={landing.intro}
                    className="text-muted-foreground"
                />
            </div>
        )}
    </div>
</section>
