@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-latin-variable-wghtOnly-normal.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-latin-ext-variable-wghtOnly-normal.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
        U+2C60-2C7F, U+A720-A7FF;
} */

@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 300 700;
    font-display: optional;
    src: url(/fonts/fira-code-latin-variable-wghtOnly-normal.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 300 700;
    font-display: optional;
    src: url(/fonts/fira-code-latin-ext-variable-wghtOnly-normal.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
        U+2C60-2C7F, U+A720-A7FF;
} */

/* Martel Sans */

[data-theme="light"] {
    --scrollbar: #a3a3a3;
    --scrollbar-hover: #737373;
}
[data-theme="dark"] {
    --scrollbar: #404040;
    --scrollbar-hover: #525252;
}

@layer base {
    * {
        @apply selection:bg-primary selection:text-primary-content;
    }

    html {
        scroll-behavior: smooth;
    }
}

@layer utilities {
    /* Scroll thumb styles */
    .scrollbar::-webkit-scrollbar {
        width: 0.4rem;
        height: 0.4rem;
    }

    /* Scroll track styles */
    .scrollbar::-webkit-scrollbar-track {
        background: hsl(var(--b3));
        border-radius: 4px;
    }
    .scrollbar::-webkit-scrollbar-track:hover,
    .scrollbar::-webkit-scrollbar-track:active {
        background: hsl(var(--b3));
    }

    /* Light mode */
    .scrollbar::-webkit-scrollbar-thumb {
        background: var(--scrollbar);
        border-radius: 1rem;
    }
    .scrollbar::-webkit-scrollbar-thumb:active {
        background-color: var(--scrollbar-hover);
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-hover);
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    /* Allow scrollbar styles from parent */
    .scrollbar-children > * {
        @apply scrollbar;
    }

    .link-underline {
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
    }
    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 0 100%;
    }
}
